@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&display=swap');

* {
  color:#ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  caret-color: transparent;
}

.inria-serif {
  font-family: 'Inria Serif';
}


.inter {
  font-family: 'Inter';
}

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}


/* ASCII EFFECT */

#asciiEffect {
  color: white;
  top: 0;

  width: 100vw;
  height: 50vh;

  z-index: -10;
  background: black;
}

@media screen and (min-width: 1024px) {
  #asciiEffect {
    color: white;
    position: fixed;
    top: 0;
  
    width: 100vw;
    height: 100vh;
  
    z-index: -10;
    background: black;
  }
}




/* GLOWS */
.rainbow-glow, .rainbow-ambient {
	text-shadow: -20px -6px 15px rgba(45, 15, 233, 0.25),
		-9px 16px 14px rgba(100, 203, 191, 0.41),
		14px -15px 31px rgba(238, 241, 101, 0.26),
		0px -6px 10px rgba(211, 14, 14, 0.25),
		10px 4px 9px rgba(100, 147, 0, 0.42);
}

.rainbow-glow:hover {
	text-shadow: -20px -6px 15px rgba(45, 15, 233, 0.5),
		-9px 16px 14px rgba(100, 203, 191, 0.6),
		14px -15px 31px rgba(238, 241, 101, 0.4),
		0px -6px 10px rgba(211, 14, 14, 0.4),
		10px 4px 9px rgba(100, 147, 0, 0.7);
}

.rainbow-glow-strong {
	text-shadow: -20px -6px 15px rgba(45, 15, 233, 0.8),
		-9px 16px 14px rgba(100, 203, 191, 0.8),
		14px -15px 31px rgba(238, 241, 101, 0.7),
		0px -6px 10px rgba(211, 14, 14, 0.7),
		10px 4px 9px rgba(100, 147, 0, 0.8);
}


.glow {
	transition: 200ms ease-in-out;
}

.glow:hover {
	box-shadow: -20px -6px 15px rgba(45, 15, 233, 0.5),
		-9px 16px 14px rgba(100, 203, 191, 0.6),
		14px -15px 31px rgba(238, 241, 101, 0.4),
		0px -6px 10px rgba(211, 14, 14, 0.4),
		10px 4px 9px rgba(100, 147, 0, 0.7);
}


/* LINKS */
a:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 66%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: rgba(79, 192, 141, 0.5);
}

a {
  text-decoration: none;
  white-space: nowrap;

  position: relative;
}

a:hover:after {
  top: 0%;
}


/* ANIMATIONS */
.fade-up-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUpIn 1s ease-out forwards;
}

.fade-up-in-250 {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUpIn 1s ease-out forwards 250ms;
}

.fade-up-in-500 {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUpIn 1s ease-out forwards 500ms;
}

.fade-up-in-750 {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUpIn 1s ease-out forwards 750ms;
}

@keyframes fadeUpIn {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Card Hover */
/* 
:root {
  --mouse-x: 0px;
  --mouse-y: 0px;
} */

.card::before {
  content: "";
  border-radius: inherit;

  height: 100%;
  width: 100%;

  position: absolute;
  left: 0;  
  top: 0;   
  
  z-index: -2;
  transition: 200ms ease-in-out;
}

.card-color-red::before {
  background: radial-gradient(
    400px circle at 50px 70px, 
    rgba(255, 0, 0, 0.5),
    transparent 40%
  );
}

.card-color-green::before {
  background: radial-gradient(
    400px circle at 500px 120px, 
    rgba(0, 255, 30, 0.4),
    transparent 40%
  );
}

.card-color-blue::before {
  background: radial-gradient(
    400px circle at 300px 020px, 
    rgba(131, 202, 233, 0.5),
    transparent 40%
  );
}

.card-color-pink::before {
  background: radial-gradient(
    400px circle at 600px 120px, 
    rgba(187, 36, 195, 0.5),
    transparent 40%
  );
}



